/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 70px;
  background-color: rgba(4, 213, 255, 0.59);
  border-bottom: 1px solid #e5e5e5;
}

.navbar-left {  
  display: flex;
  align-items: center;
  gap: 250px;
}
.navbar-nav{
  margin-left: 300px;
 gap: 20px;
}
.logo {
  height: 60px;
  
}

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5ee8ff;
  padding: 10px 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.search-bar {
  width: 500px;
  max-width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-right: 20px;
}



.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.location button{
 
  margin-left: -100px;
  border-radius: 6px;
   background-color: #343434;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;


  padding: 10px 15px;
  
  font-size: 14px;
  
  white-space: nowrap;
}

.location-icon {
  margin-right: 4px;
  
}


.sub-navbar {
    background: #eee;
    padding: 10px;
  }

  .main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
  }

  .main-menu > li {
    position: relative;
    cursor: pointer;
  }

  /* nav.css */
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
  }

  .logo {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .top-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar {
    width: 100%;
    font-size: 12px;
  }

  .location-button {
    width: 100%;
    font-size: 12px;
    margin-top: 4px;
  }

}